.table {
  background: #eee;
  & tr:nth-child(2n) {
    background: #fff;
    & td {
      background: #eee;
      border-right: 1px solid #fff;
    }
  }
  & tr:nth-child(2n - 1) {
    & td {
      background: #fff;
    }
  }
  & td {
    padding: 10px;
    & p {
      margin: 0;
      padding: 0;
    }
  }
}
